[Unit]
Description=Housefinder property bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/konstantinos/Documents/projects/Housefinder
ExecStart=/home/konstantinos/Documents/projects/Housefinder/venv/bin/python /home/konstantinos/Documents/projects/Housefinder/main.py
Restart=always
RestartSec=15

[Install]
WantedBy=default.target
